In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train = 'Corona_NLP_train.csv'
test = 'Corona_NLP_test.csv'

In [3]:
trainOriginal = pd.read_csv(train, encoding='latin-1')
testOriginal = pd.read_csv(test, encoding= 'latin-1')

In [4]:
train = trainOriginal.copy()
test = testOriginal.copy()

In [5]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [6]:
test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [7]:
train.isnull().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       41157 non-null  int64
 1   ScreenName     41157 non-null  int64
 2   Location       32567 non-null  object
 3   TweetAt        41157 non-null  object
 4   OriginalTweet  41157 non-null  object
 5   Sentiment      41157 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB

In [9]:
train['Location'].value_counts()[:60]

London                     540
United States              528
London, England            520
New York, NY               395
Washington, DC             373
United Kingdom             337
Los Angeles, CA            281
India                      268
UK                         232
Australia                  225
USA                        223
England, United Kingdom    191
Canada                     191
Toronto, Ontario           160
Global                     159
Chicago, IL                155
California, USA            153
San Francisco, CA          152
Boston, MA                 150
New York, USA              140
New Delhi, India           138
Atlanta, GA                126
New York                   126
Mumbai, India              109
Worldwide                  101
Lagos, Nigeria              99
Texas, USA                  98
Austin, TX                  98
Houston, TX                 98
London, UK                  96
Toronto                     91
Los Angeles                 89
Nairobi, Kenya              88
New York City               87
Singapore                   87
Florida, USA                84
Philadelphia, PA            84
South Africa                83
Nigeria                     83
Washington, D.C.            80
Sydney, New South Wales     78
Seattle, WA                 78
Mumbai                      76
Earth                       75
New Zealand                 74
San Diego, CA               71
Melbourne, Victoria         70
Dallas, TX                  68
Sydney, Australia           66
Las Vegas, NV               64
Ireland                     61
Denver, CO                  60
Chicago                     60
New Jersey, USA             58
NYC                         58
Brooklyn, NY                57
Melbourne, Australia        56
Ontario, Canada             55
England                     55
California                  54
Name: Location, dtype: int64

In [10]:
train['Location'] = train['Location'].str.split(",").str[0]
test['Location'] = test['Location'].str.split(",").str[0]

In [11]:
train['Location'].value_counts()[:60]

London            1247
New York           709
United States      530
Washington         504
Los Angeles        402
Toronto            346
United Kingdom     342
India              276
Chicago            262
England            255
UK                 246
USA                231
Australia          230
California         211
San Francisco      206
Sydney             202
New Delhi          201
Melbourne          199
Canada             198
Boston             197
Mumbai             197
Atlanta            165
Global             159
Houston            156
Texas              145
Lagos              136
Austin             130
Florida            121
Seattle            120
Nairobi            117
Dallas             115
Philadelphia       114
Manchester         111
Vancouver          106
Scotland           104
New Jersey         103
Worldwide          101
San Diego           99
New York City       95
Dubai               91
Singapore           88
South Africa        87
Portland            86
Denver              86
Earth               84
Nigeria             83
Las Vegas           79
Johannesburg        78
Michigan            76
Ottawa              76
Brooklyn            75
Paris               74
New Zealand         74
Ontario             72
Birmingham          72
Miami               72
Calgary             70
NYC                 69
Victoria            67
Phoenix             65
Name: Location, dtype: int64

In [12]:
train['TweetAt'].value_counts()

20-03-2020    3448
19-03-2020    3215
25-03-2020    2979
18-03-2020    2742
21-03-2020    2653
22-03-2020    2114
23-03-2020    2062
17-03-2020    1977
08-04-2020    1881
07-04-2020    1843
06-04-2020    1742
24-03-2020    1480
09-04-2020    1471
13-04-2020    1428
26-03-2020    1277
05-04-2020    1131
10-04-2020    1005
02-04-2020     954
11-04-2020     909
03-04-2020     810
12-04-2020     803
04-04-2020     767
16-03-2020     656
01-04-2020     630
27-03-2020     345
31-03-2020     316
14-04-2020     284
29-03-2020     125
30-03-2020      87
28-03-2020      23
Name: TweetAt, dtype: int64

In [13]:
train['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [14]:
train['id']= 0
test['id']=1
covid = pd.concat([train,test])
covid.reset_index(drop = True , inplace= True)

In [15]:
covid.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,id
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,0
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,0
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,0
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,0
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative,0

In [16]:
covid['Sentiment']= covid['Sentiment'].str.replace('Extremely Positive','Positive')
covid['Sentiment']= covid['Sentiment'].str.replace('Extremely Negative','Negative')

In [17]:
covid[:50]

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,id
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,0
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,0
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,0
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,0
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Negative,0
5,3804,48756,ÃT: 36.319708,16-03-2020,As news of the regionÂs first confirmed COVID...,Positive,0
6,3805,48757,35.926541,16-03-2020,Cashier at grocery store was sharing his insig...,Positive,0
7,3806,48758,Austria,16-03-2020,Was at the supermarket today. Didn't buy toile...,Neutral,0
8,3807,48759,Atlanta,16-03-2020,Due to COVID-19 our retail store and classroom...,Positive,0
9,3808,48760,BHAVNAGAR,16-03-2020,"For corona prevention,we should stop to buy th...",Negative,0
10,3809,48761,Makati,16-03-2020,All month there hasn't been crowding in the su...,Neutral,0
11,3810,48762,Pitt Meadows,16-03-2020,"Due to the Covid-19 situation, we have increas...",Positive,0
12,3811,48763,Horningsea,16-03-2020,#horningsea is a caring community. LetÂs ALL ...,Positive,0
13,3812,48764,Chicago,16-03-2020,"Me: I don't need to stock up on food, I'll jus...",Positive,0
14,3813,48765,NaN,16-03-2020,ADARA Releases COVID-19 Resource Center for Tr...,Positive,0
15,3814,48766,Houston,16-03-2020,Lines at the grocery store have been unpredict...,Positive,0
16,3815,48767,Saudi Arabia,16-03-2020,????? ????? ????? ????? ??\r\r\n?????? ????? ?...,Neutral,0
17,3816,48768,Ontario,16-03-2020,@eyeonthearctic 16MAR20 Russia consumer survei...,Neutral,0
18,3817,48769,North America,16-03-2020,"Amazon Glitch Stymies Whole Foods, Fresh Groce...",Positive,0
19,3818,48770,Denver,16-03-2020,"For those who aren't struggling, please consid...",Positive,0
20,3819,48771,southampton soxx xxx,16-03-2020,with 100 nations inficted with covid 19 th...,Negative,0
21,3820,48772,Global,16-03-2020,https://t.co/AVKrR9syff\r\r\n\r\r\nThe COVID-1...,Neutral,0
22,3821,48773,NaN,16-03-2020,We have AMAZING CHEAP DEALS! FOR THE #COVID201...,Positive,0
23,3822,48774,NaN,16-03-2020,We have AMAZING CHEAP DEALS! FOR THE #COVID201...,Positive,0
24,3823,48775,Downstage centre,16-03-2020,@10DowningStreet @grantshapps what is being do...,Negative,0
25,3824,48776,London,16-03-2020,UK #consumer poll indicates the majority expec...,Positive,0
26,3825,48777,Ketchum,16-03-2020,In preparation for higher demand and a potenti...,Negative,0
27,3826,48778,Everywhere You Are!,16-03-2020,This morning I tested positive for Covid 19. I...,Negative,0
28,3827,48779,New York,16-03-2020,Do you see malicious price increases in NYC? T...,Negative,0
29,3828,48780,Someplace,16-03-2020,@7SealsOfTheEnd Soon with dwindling supplies u...,Negative,0
30,3829,48781,NaN,16-03-2020,There Is of in the Country The more empty she...,Negative,0
31,3830,48782,NaN,16-03-2020,'Hole' Foods...\r\r\n\r\r\n...images from the ...,Positive,0
32,3831,48783,Markham,16-03-2020,Retail store closures could explode because of...,Neutral,0
33,3832,48784,Virginia,16-03-2020,Coronavirus fun fact: if you cough at the groc...,Positive,0
34,3833,48785,London,16-03-2020,We're sorry to say that our @FinFabUK event is...,Negative,0
35,3834,48786,Sverige,16-03-2020,Went to the supermarket yesterday and the toil...,Neutral,0
36,3835,48787,Where The Wild Things Are,16-03-2020,"Yes, buy only what you need.\r\r\n\r\r\nBut wh...",Positive,0
37,3836,48788,Canada,16-03-2020,Worried about the impact of the current COVID-...,Positive,0
38,3837,48789,NaN,16-03-2020,my wife works retail&amp;a customer came in ye...,Negative,0
39,3838,48790,United States,16-03-2020,Now I can go to the supermarket like this with...,Positive,0
40,3839,48791,Fort Worth,16-03-2020,We're here to provide a safe shopping experien...,Positive,0
41,3840,48792,NaN,16-03-2020,"Curious, do we think retail shoppers will do ...",Positive,0
42,3841,48793,Houston,16-03-2020,CHECK VIDEO ?? https://t.co/1ksn9Brl02 ??No fo...,Negative,0
43,3842,48794,Vancouver,16-03-2020,Breaking Story: Online clothes shopping rises ...,Neutral,0
44,3843,48795,NaN,16-03-2020,This is the line outside @Target in as custo...,Neutral,0
45,3844,48796,Midrand,16-03-2020,"South Africans stock up on food, basic goods a...",Negative,0
46,3845,48797,Drogheda,16-03-2020,Please Share Know someone who s 65 Living on...,Positive,0
47,3846,48798,Columbia,16-03-2020,People posting and sharing photos of of half t...,Positive,0
48,3847,48799,Arkansas,16-03-2020,"Never thought I'd say this, but. 2019, Will yo...",Positive,0
49,3848,48800,Washington,16-03-2020,COVID-19 restrictions sparking a run on cannab...,Neutral,0

In [18]:
covid = covid.drop('UserName',axis=1)
covid = covid.drop('ScreenName',axis=1)
covid = covid.drop('Location',axis=1)
covid = covid.drop('TweetAt',axis=1)
covid

                                           OriginalTweet Sentiment  id
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral   0
1      advice Talk to your neighbours family to excha...  Positive   0
2      Coronavirus Australia: Woolworths to give elde...  Positive   0
3      My food stock is not the only one which is emp...  Positive   0
4      Me, ready to go at supermarket during the #COV...  Negative   0
...                                                  ...       ...  ..
44950  Meanwhile In A Supermarket in Israel -- People...  Positive   1
44951  Did you panic buy a lot of non-perishable item...  Negative   1
44952  Asst Prof of Economics @cconces was on @NBCPhi...   Neutral   1
44953  Gov need to do somethings instead of biar je r...  Negative   1
44954  I and @ForestandPaper members are committed to...  Positive   1

[44955 rows x 3 columns]

In [19]:
covid['Sentiment'] = covid['Sentiment'].map({'Neutral':0,'Positive':1,'Negative':2})

In [20]:
hashtags = train['OriginalTweet'].str.extractall(r"(#\S+)")
hashtags = hashtags[0].value_counts()
hashtags[:30]

#coronavirus            12320
#COVID19                 3221
#Covid_19                2497
#Coronavirus             2081
#COVID2019               1603
#toiletpaper             1338
#covid19                 1100
#COVID?19                 792
#CoronaCrisis             719
#CoronaVirus              600
#SocialDistancing         598
#covid_19                 432
#CoronavirusPandemic      409
#CoronavirusOutbreak      391
#pandemic                 376
#StayHomeSaveLives        334
#Covid19                  331
#StayAtHome               319
#lockdown                 314
#supermarket              306
#StayHome                 305
#panicbuying              298
#coronavirus.             295
#retail                   289
#CoronaVirusUpdate        280
#corona                   280
#StopHoarding             274
#socialdistancing         265
#COVID-19                 224
#StopPanicBuying          218
Name: 0, dtype: int64

In [21]:
mentions = train['OriginalTweet'].str.extractall(r"(@\S+)")
mentions = mentions[0].value_counts()
mentions[:30]

@realDonaldTrump    239
@Tesco              180
@sainsburys         152
@BorisJohnson       141
@narendramodi       110
@asda               103
@amazon              95
@PMOIndia            94
@Morrisons           87
@piersmorgan         84
@YouTube             83
@waitrose            70
@CNN                 56
@AldiUK              52
@FTC                 48
@Walmart             47
@CDCgov              44
@NYGovCuomo          42
@BBCNews             41
@SkyNews             40
@LidlGB              38
@nytimes             37
@ssupnow             37
@MailOnline          36
@WSJ                 34
@Coles               33
@McKinsey            33
@kroger              31
@10DowningStreet     31
@WHO                 30
Name: 0, dtype: int64

In [22]:
import re


def clean(text):
    text = re.sub(r'http\S+', " ", text)
    text = re.sub(r'@\w+',' ',text)
    text = re.sub(r'#\w+', ' ', text)
    text = re.sub(r'\d+', ' ', text)
    text = re.sub('r<.*?>',' ', text)
    text = text.split()
    text = " ".join([word for word in text if not word in stopWord])
    
    return text

In [23]:
import nltk
from nltk.corpus import stopwords

In [24]:
stopWord = stopwords.words('english')

In [25]:
covid['OriginalTweet'] = covid['OriginalTweet'].apply(lambda x: clean(x))

In [26]:
covid.head()

                                       OriginalTweet  Sentiment  id
0                                                             0   0
1  advice Talk neighbours family exchange phone n...          1   0
2  Coronavirus Australia: Woolworths give elderly...          1   0
3  My food stock one empty... PLEASE, panic, THER...          1   0
4  Me, ready go supermarket outbreak. Not I'm par...          2   0